@import './base.css';

@font-face {
  font-family: spaceFontMed;
  src: url(/src/assets/font/SpaceGrotesk-Medium.ttf);
}
@font-face {
  font-family: spaceFontBold;
  src: url(/src/assets/font/SpaceGrotesk-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
}
